h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: red;
}

.branch {
    color: rgb(158, 205, 87);
    font-size: 30px;
}

.merge {
    color: rgb(42, 199, 220);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

ul li {
    color: rgb(183, 161, 39);
}